.message-row {
  display: flex;
  margin-bottom: 10px;
}

.message-row.own {
  justify-content: flex-end;
}

.message-row.bot {
  justify-content: flex-start;
}

.message-bubble {
  text-align: left;
  font-size: 18px;
  max-width: 70%;
  margin: 10px;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #e5e5ea;
  color: black;
  position: relative;
  word-break: break-word;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.message-bubble p {
  margin: 0;
}

.message-row.own .message-bubble {
  background-color: #5673d3;
  color: white;
}

.message-row.bot .message-bubble {
  background-color: #f4fafe;
  color: black;
}
